# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.external*/
.idea/
nbproject/

# composer related
vendor/
composer.lock
/bin/*
!/bin/ctb

# the built phar
ctb.phar

# build
.phpcq
.phpunit.result.cache
